[2017-08-12 01:24] dominictarr opened #8 "weird image display bug"
I found a bug where it rendered totally the wrong image!

![ticktack_wrong-image](https://user-images.githubusercontent.com/259374/29236645-82bfa47c-7f61-11e7-8b36-e27b931dcfac.png)

what it should be:

![patchbay6-correct-image](https://user-images.githubusercontent.com/259374/29236647-9007c484-7f61-11e7-82f1-be5ad62aece4.png)

the message in question: %CZ8do7YiDaHtJ4xZsXFgJsp2tLewlwo7pyc3S7Tuv5k

[2017-09-28 00:00] dominictarr opened #37 "narrow screen squashes the context-2 sidebar"
when I started it up I saw this:
![2017-09-28-125823_1280x800_scrot](https://user-images.githubusercontent.com/259374/30943348-ec7f1978-a44c-11e7-9fdc-33fd2b17ec5f.png)

at first I couldn't even see the 2nd sidebar, so I thought it was completely missing, but it's just a css thing.

[2017-09-28 00:16] dominictarr opened #38 "onboarding profile doesn't detect that I am already setup"
whenever I open the app it wants me to edit my profile, but I already have one so it should skip that.

[2017-12-08 06:05] dominictarr opened #60 "thread seems to be loaded twice"
threadShow is passed the entire thread in the location object...
https://github.com/ticktackim/ticktack-wp1/blob/master/app/page/threadShow.js#L31

but then passes the root to app.html.thread

https://github.com/ticktackim/ticktack-wp1/blob/master/app/page/threadShow.js#L25

which then loads the thread again:

https://github.com/ticktackim/ticktack-wp1/blob/master/app/html/thread.js#L23

the threa

[2017-12-08 06:14] dominictarr opened #61 "following links to threads breaks L2 sideNav"
if you follow a link from one thread to another (you can't get the message ids in ticktack, but could create one in another client) the L2 context just disappears. so, you don't know how to get to that thread expect via the link.

[2018-01-23 00:00] mixmix opened #67 "Autoinvite fix"
mix + dominic will handle this

[2018-01-23 00:01] mixmix opened #68 "Address book"
for adding users to follow

See designs 1.21.2 and 1.7

[2018-01-23 00:02] mixmix opened #69 "block feature"
![image](https://user-images.githubusercontent.com/2665886/35252686-781f0bbe-0046-11e8-9eb3-33900396ed9f.png)

[2018-01-23 00:05] mixmix opened #70 "Subscriptions"
my subscribed channels
my friends subjscribed channels

[2018-01-23 00:05] mixmix opened #71 "Favourites"
I think we can add this later after subscriptions is in place

[2018-01-23 00:20] mixmix opened #72 "Active pubs"
join the Germany server etc.
![image](https://user-images.githubusercontent.com/2665886/35252925-905613ca-0047-11e8-92f0-41a4e4706049.png)

[2018-01-23 00:22] mixmix opened #73 "Multiple Private chat"
- just the start a new chat path
- not the path where you `+` (add a new user to existing chat)
M: Yeah. I understood. It will prompt to another new thread. That's correct.

[2018-01-24 03:35] mixmix opened #74 "`blog` vs `post`"
make the app consistent in its display of content.

We need a global definition of what to show. At the moment places to look:
- Dyanmics
- User profile
- Search

[2018-01-25 01:45] mixmix opened #80 "Layout refactor"
_This is a code issue. Doesn't need addressing quite yet_

Because there was a big change btwn version 1 and version 2 Ticktack, we might need to change how layouts are handled.

At the moment, the top level pattern is
[code]

and each of these is passed the `location` object and decides what to display.
The page element similarly looks like this :

[code]

where S is a sideBar. Sidebar and topBar

[2018-01-29 15:15] ticktackim opened #82 "Setup and open ICON"
@mixmix  the new app icon is blur. I am not sure if github has extracted the files uploaded.  So I re-upload it in zip as below.
![d_awp x 2 x uyna tlwg7](https://user-images.githubusercontent.com/30351648/36110862-27155132-105f-11e8-9bbb-4561f347c22b.png)

[app-icon.zip](https://github.com/ticktackim/ticktack-workplan/files/1717236/app-icon.zip)

[2018-02-01 01:48] #38 closed, assigned to nobody

[2018-02-04 03:09] ticktackim opened #84 "ticktack UI original files"
@soapdog @mixmix  I attached all the links from my google cloud for the ui files. The first one is for the Sprint 3 workplan. The other three are the ui and icon file for last workplan.

https://storage.googleapis.com/ticktack_ui/ticktack-ui%202.3%20original%20Sprint%203.rar

https://storage.googleapis.com/ticktack_ui/ticktack%20ui_ver1.7.sketch

https://storage.googleapis.com/ticktack_ui/Icon.zip

[2018-02-06 08:36] dominictarr opened #85 "invite for second pub"
`138.68.27.255:8008:@MflVZCcOBOUe6BLrm/8TyirkTu9/JtdnIJALcd8v5bc=.ed25519~Mfz6xcajHDtH3Z2Dp4I7HT7K1l0MWxJxOftlEBct8jU=`

(has 10k uses)

[2018-02-07 06:24] mixmix opened #89 "scuttle-blog (make a blog reading tool for other clients / apps)"
I'm going to make this and get it installed in Patchwork

[2018-02-08 05:29] mixmix opened #90 "Update Chinese translations"
There are a few translations to update, here's what already exists :

addressBook.action.addUser = Add a user
addressBook.action.find.friends = Search your friends
addressBook.action.find.following = Search people you're following
addressBook.action.find.followers = Search your followers
addressBook.action.find.search = Search for a user
addressBook.heading.people = People
addressBook.section.frie

[2018-02-08 05:34] mixmix opened #91 "Multiple Private message Sidebar fix"
@ticktackim said :

I think I know what you mean, is it this image ?
![image](https://user-images.githubusercontent.com/2665886/35957122-bdcca698-0cfe-11e8-8b88-f5a60ff40f3b.png)

[2018-02-08 07:25] ticktackim opened #92 "It cost more than 5 minutes the network detect a brand new user for V0.3.0"
Now the new client can link with the autopub no problem.But it costs more than 5 minutes the network detect a brand new user for V0.3.0.

[2018-02-08 15:16] ticktackim opened #93 "the window frame circling the ui need to be erased"

[2018-02-09 04:38] mixmix commented on #82
hey @ticktackim this doesn't meet the specs. The size is right but we need copies where the file format is  `.ico` and `.icns` (not `.png`).

If your designer can't do this let me know. I can make an ico and I might be able to make an icns with some tool online.

----

Regarding the design of that install icon, it's not good one, look what it looks like when it's small:

![selection_505](https://u

[2018-02-09 04:41] mixmix commented on #70
hey @ticktackim just a small english tweak - ~~reflesh~~  ➡️ refresh  (re means do again, fresh means clean or new. Flesh is like meat 🍗 !)

[2018-02-09 04:44] mixmix commented on #70
the alignment issue of Friends Subscriptions is already:

![image](https://user-images.githubusercontent.com/2665886/36012097-a57853b8-0dc0-11e8-8c01-64453fd288f3.png)

Did you want the words to not wrap ?
like
[code]

[code]

[2018-02-09 06:20] ticktackim commented on #70
Thanks for the correction:-)

发自我的 iPhone

[2018-02-09 06:20] ticktackim commented on #70
@mixmix Yes, good job!

发自我的 iPhone

[2018-02-09 12:55] ticktackim commented on #82
@mixmix Would you please try below one again? If still not good, we could use what you proposed first.

[ticktack512.ico.zip](https://github.com/ticktackim/ticktack-workplan/files/1711032/ticktack512.ico.zip)

[2018-02-09 22:00] mixmix commented on #70
doing this style change now

[2018-02-09 22:50] mixmix commented on #70
fixed with above commit ^

[2018-02-09 22:55] mixmix commented on #82
@ticktackim I can use that one, but it's going to be very confusing - they will not be able to see the ticktack logo because it's so small

I still need an `*.icns` files for mac.

---

If you're on plane I will just solve this problem :)

[2018-02-09 22:55] mixmix commented on #90
doing this now

[2018-02-09 22:55] #70 closed

[2018-02-09 23:06] #90 closed

[2018-02-09 23:16] mixmix opened #94 "fix update counters"
note to self from mix.
Think I broke new message counter styling. Come back and fix before release

[2018-02-10 02:08] #94 closed

[2018-02-10 03:40] ticktackim commented on #82
@mixmix I will on the plane very early tomorrow morning. I will invite the designer later to this repo and let him throw the file directly on it. If he can't make it on time, please just solve it at your end before official launch on Feb.11 say Beijing time 15:00.

Thanks!
2018-02-10

mc

发件人： mix irving
发送时间： 2018-02-10  06:55:11
收件人： ticktackim/ticktack-workplan
抄送： TickTack; Mention
主题： Re: [ti

[2018-02-10 23:24] #67 closed

[2018-02-10 23:24] #68 closed

[2018-02-10 23:24] #69 closed

[2018-02-10 23:24] #73 closed

[2018-02-10 23:32] mixmix commented on #61
I'm assuming this is dead

[2018-02-10 23:32] #61 closed

[2018-02-10 23:33] mixmix commented on #93
picking this one up now

[2018-02-10 23:33] #85 closed

[2018-02-10 23:34] mixmix commented on #70
opening a new issue for Plan B @soapdog

[2018-02-10 23:35] mixmix opened #95 "Load only some subscriptions"
This is a tuning of the Subscriptions feature https://github.com/ticktackim/ticktack-workplan/issues/70#issuecomment-364317547 :

[2018-02-11 01:47] #93 closed, assigned to mixmix

[2018-02-11 04:23] Jackwz08 commented on #82
@mixmix
[ticktack512icns 2.zip](https://github.com/ticktackim/ticktack-workplan/files/1714028/ticktack512icns.2.zip)

[2018-02-12 01:04] mixmix commented on #91
resolved here : https://github.com/ticktackim/ticktack-workplan/pull/97

[2018-02-12 01:40] #91 closed

[2018-02-12 01:41] mixmix commented on #95
picking this up now.
Also making it so it doesn't show you subscriptions you already have

[2018-02-12 02:28] mixmix commented on #95
resolved in this PR : https://github.com/ticktackim/ticktack-workplan/pull/98

[2018-02-12 02:34] #95 closed

[2018-02-12 04:11] mixmix commented on #82
for future, here's a good site for converting : https://iconverticons.com/online/
makes icns and ico files that seem to work well

[2018-02-12 04:23] ticktackim commented on #82
@mixmix thanks!
@Jackwz08 please note!

发自我的 iPhone

[2018-02-12 06:38] dominictarr commented on #67
The location of the pub matters a little bit, but as mix pointed out, it's more important to have multiple pubs available. currently users in china are still able to use patchwork, despite no pubs there. I recommend we just keep working with the locations digital ocean provides, for simplicity. There are bigger improvements we can make before putting a pub in china becomes significant.

[2018-02-12 06:41] dominictarr commented on #92
yes I am currently working on improved performance for initial sync, my goal for it to take far less than 5 minutes.

[2018-02-12 10:34] Jackwz08 commented on #82
@ticktackim I'm already using it.
![2018-02-12 6 30 50](https://user-images.githubusercontent.com/36327534/36092601-e32cdee0-1022-11e8-8d50-4b5a04bab879.png)

[2018-02-12 15:37] soapdog commented on #95
@mixmix thanks for picking it up.

[2018-02-12 15:44] soapdog commented on #71
To implement favorites, we might need a new message type.

@mixmix what do you think about creating a new type of message to flag messages as favorite. I was thinking something similar to block/unblock or the subscribe/unsubscribe, with the new message having a boolean saying if the related message is _favorite_ or _remove from favorite_.

[2018-02-12 15:45] soapdog commented on #89
Is it being added to patchcore?

[2018-02-12 23:05] mixmix opened #100 "Subscriptions bug"
Have had trouble reproducing this, but 2-3 users have seen it:

`%7fpVLLTPqdgBJ9RPIgVIkTpvMEtgxlaH2saMyG0JHa4=.sha256` :

[code]

[2018-02-12 23:08] mixmix opened #101 "channel error"
routing needs to handle channel names with / without the leading `#`

[2018-02-12 23:25] mixmix opened #102 "macOs vs Win frame heading"
perhaps only put in custom close buttons when not in darwin

[2018-02-12 23:38] mixmix commented on #100
oh oh this is probably people running patchwork at the same time

[2018-02-12 23:41] mixmix commented on #100
success, found it !

[2018-02-13 00:09] mixmix opened #103 "(mix): check unread count cache logic"
I think there's a new duplication I added with the new "participants" logic, where the cache is was formerly interested in authors ... probably need to bring this back into alignment (at the moment when I post a message I think it looks at the other participants in that message and adds to the unread count!)

[2018-02-13 15:52] ticktackim commented on #84
@mixmix @soapdog If yall download the assets already, I will close this one.

[2018-02-13 15:52] #84 closed

[2018-02-13 23:05] mixmix commented on #103
fixed

[2018-02-13 23:05] #103 closed

[2018-02-13 23:05] #100 closed

[2018-02-13 23:05] #101 closed

[2018-02-13 23:08] mixmix commented on #102
resolved. Needs testing on mac

[2018-02-13 23:08] #102 closed

[2018-02-14 00:02] mixmix opened #105 "Accessible dark theme"
user Teq reported that they needed a dark them to be able to use an app easily.

I did a quick test with some basic `filter: invert()` css filters to see if this was possible quickly :
![image](https://user-images.githubusercontent.com/2665886/36180918-4692c3c2-1187-11e8-93df-ca8252ee0a64.png)

[2018-02-14 00:04] mixmix commented on #105
![image](https://user-images.githubusercontent.com/2665886/36181002-8e316a1c-1187-11e8-904d-6b7fb8507bb2.png)

[2018-02-14 00:19] mixmix opened #107 "disable post button"
- when there's no content
- when currently publishing

[2018-02-14 14:54] soapdog commented on #107
Working on it.

[2018-02-14 16:32] soapdog commented on #107
Investigating an issue here. The `publish` call on `message.html.compose` is not working for me, it goes fine until it enters the callback for `prepublish` which finally calls `api.message.async.publish` but no entry is being created on my feed. It is very strange.

[2018-02-14 16:52] soapdog commented on #107
The `api.sbot.async.publish` inside `message.async.publish` never fires the callback inside it.

[2018-02-14 17:04] soapdog commented on #107
`sbot.async.publish` is flagging our message as invalid message and not posting it. Somehow, `type` argument to publish is wrong and the whole message object is ending up where `type` should be.

[2018-02-14 17:17] soapdog commented on #107
It appears to be a race condition inside `ssb-feed`, somehow `working` is set to true and the messages are queued but they never leaver the queue to enter the feed.

[2018-02-14 17:50] soapdog commented on #107
I think I have isolated the bug to be related to a broken message inside my own feed... I might need to patch something inside patchcore to be able to recover from such errors as this may happen in other peoples feed in the future.

[2018-02-14 18:18] soapdog commented on #107
Fixed in #108

[2018-02-15 05:05] mixmix commented on #107
I think

[2018-02-15 05:07] mixmix commented on #74
Current solution for Blog vs Post type:
- main page : only shows blogs
- other pages : show blogs + any post longer that 800 characters (so you don't see small silly messages)

[2018-02-15 07:28] ticktackim commented on #74
@mixmix what about if a post with photo but less than 800 characters?

发自我的 iPhone

[2018-02-17 01:51] mixmix commented on #74
Yep can make that but don't think it's a blog post. Sounds more like
Instagram. I think it's important to help people know what to expect when
they open ticktack

On Thu, 15 Feb 2018, 20:29 TickTack, <notifications@github.com> wrote:

[2018-02-17 01:53] mixmix commented on #89
Probably not, I'll open a PR on patchbay to show you it in a bit

On Tue, 13 Feb 2018, 04:45 Andre Alves Garzia, <notifications@github.com>
wrote:

[2018-02-17 01:54] mixmix commented on #71
Wait for josiah's tag work.

On Tue, 13 Feb 2018, 04:44 Andre Alves Garzia, <notifications@github.com>
wrote:

[2018-02-27 01:31] dominictarr opened #109 "blob replication performance"
blobs have been reported to be loading too slowly

I hope this is because the replication protocol is overwhelmed, which I have been working on recently, and should be fixed soon.

If that works out, and blobs are still loading slowly, I'll write a thing to track the status of blob replication on each peer. It would track the number of blobs it is looking for, and on average how long it takes to r

[2018-03-08 02:12] ticktackim opened #110 "MacOs High Sierra v10.13.1 no reaction at all after installation!"
@mixmix @dominictarr

[2018-03-24 03:03] ticktackim opened #111 "New peer sees nothing after installation."
![qq 20180324110012](https://user-images.githubusercontent.com/30351648/37859702-b1e47a38-2f52-11e8-9f1e-ce9f5f5dc36a.png)

A new user sees nothing after installation yesterday. Do you think we need to switch back to `invite code` mode for the Sprint 4 workplan to check if new peer could connect with network efficiently ? @mixmix @dominictarr @soapdog

[2018-03-25 20:55] mixmix opened #112 "Document - describe the file / folder structure"
what's the pattern with files / folders .. where do I expect to find things?
how are things connected / plugged in ?

[2018-03-25 20:55] soapdog opened #113 "Document stack"
Create a document describing the dependencies of ticktack and the reasoning behind each one, in case it is not obvious.

[2018-03-25 20:56] soapdog opened #114 "Document app start workflow"
Document the application start up workflow.

* How it boots
* What it loads first
* From the first JS file into the first screen

[2018-03-25 21:01] mixmix opened #115 "Pub improvement - add Mikey's ssb-pub"

[2018-03-25 21:02] mixmix opened #116 "Add Viewer (with blog plugin) to pubs"
I think mycognisist / glyph did this already?

[2018-03-25 21:03] mixmix opened #117 "Add external viewer link to Ticktack"
This needs design :
- [ ] near the vote item :share: button
- [ ] contextual right click

[2018-03-25 21:04] mixmix opened #118 "Patchwork viewer"
port work over from Patchbay

- [ ] blog message viewer
- [ ] /blogs page (future)

[2018-03-25 21:05] soapdog commented on #116
An enhancement to the viewer would be to make it so that the URL is embedable, on other networks.

* Open Graph tags
* Potential iframe embed

_PS: We can look at how mastodon does it_

[2018-03-25 21:15] mixmix opened #119 "Notification stats"
Note this ~~could be~~ **is** more than on issue / feature.

e.g.
- [x] [dashboard showing statistics](https://github.com/ticktackim/ticktack-workplan/issues/130)
- [x] [notification alert for likes on an article](https://github.com/ticktackim/ticktack-workplan/issues/131)

Stats we have access to:
- number followers/ likes / comment / links to article shared (in ssb)

[2018-03-25 21:20] mixmix opened #120 "WYSIWYG - medium style editor"
![selection_567](https://user-images.githubusercontent.com/2665886/38402048-acd07e10-39ad-11e8-9d7f-be4b88d51140.jpg)

todo:
- [x] get image attachment working
- [x] handle non-image attachments
- [x] beautiful styling
  - [x] make title look inline
  - [x] include same markdown styles
  - [x] hide markdown composer

future todo:
- [ ] save draft
- [ ] add bullet-points
- [ ] better images
   - [

[2018-03-25 21:21] soapdog opened #121 "Implement Blog drafts"
We don't want the users loosing their beloved posts, lets implement draft support.

[2018-03-25 21:22] soapdog commented on #121
https://www.npmjs.com/package/patch-drafts

[2018-03-25 21:30] soapdog opened #122 "Allow user to retrieve identity private key"
I want a simple user interface for people to be able to export the key.

Need to talk about implementation of how you insert a key back in, and how you know when you’re up to sync with your old self (so you can post without forking)

you can move a key
it is not safe to copy and use it in both places

 *  the key can be exported with extra information such as sequence. Ticktack can wait until the

[2018-03-25 21:36] mixmix commented on #122
Minimal things to export ? :
- [ ] secret
- [ ] gossip.json

(this could be a test in itself)

---

We also need to lock the interface from posting while a person gets in sync with themselves. We need to know which pubs to trust about where we're up to.
This might require the Ticktack pubs to follow everyone using Ticktack... which means a change to how ticktack gets you using invites.

[2018-03-25 21:41] mixmix commented on #122
When a user first starts Ticktack they're asked :
- [ ] do you want to make a new identity
- [ ] do you want to restore a backup

Then the app starts into different modes based on what they choose.

:warning: - VERY IMPORTANT to save the thing they chose and whether they are up to sync with themselves, because if we don't and they close the app they could easily fork their identity

[2018-03-25 21:47] soapdog commented on #122
#### Plan B
If the steps mentioned [above](https://github.com/ticktackim/ticktack-workplan/issues/122#issuecomment-376005569) don't work, a potential plan B is:

* Generate a new identity
* Use an auto-invite from the new identity
* Wait for it to sync the feed for given pub key
* Replace generated identity with old identity

Basically an automation of the process we've been currently following fo

[2018-03-25 22:01] soapdog commented on #116
Remember that right now the pubs are using raw IP addressess and this viewer would best using domains.

[2018-03-26 03:12] ticktackim commented on #122
@mixmix @soapdog
Currently, I only have designer to make ui to retrieve `Secret` file, no `gossip` file. Do you think we must need this to sync the old self?
Besides, then do you think we should implement `pub invite code` for Sprint 4 version based on the previous Sprint 3 ui designs?

[2018-03-27 16:52] ticktackim opened #123 "Sprint 4 ui designs (png, not sketch)."
@mixmix @soapdog  Below link is the png ui for your reference. I have designer improved for this third version. Please let me know if there is any question especially for the UX details.  If all UX/UI is fine, I will have designer prepare the original sketch version. Please confirm by return.

https://storage.cloud.google.com/ticktack_ui/Sprint4%20ui.png?hl=zh-cn&_ga=2.94456476.-1003686921.1504420

[2018-03-27 16:54] ticktackim opened #124 "Initial page sentence change"
@mixmix  Please change the initial page sentence to

" A decentralized social network enable people to share knowledge and exchange value."

[2018-03-27 16:59] ticktackim opened #125 "Improve how the dynamics page displaying contents"
@mixmix @soapdog  I think we need to improve the logic of how the dynamics page displaying contents as below.

1) Displaying the latest blogs of channels that I subscribed.
2) Displaying the latest blogs that published by the authors I followed.
3) Ranking by the latest.

[2018-03-27 17:03] ticktackim opened #126 "Fix the missing subscription button"

[2018-03-29 08:19] mixmix commented on #123
responded to this in scuttlebutt.

[2018-03-29 08:23] mixmix commented on #124
Which sentence do you want to replace :
1. `A new era social network for people who have faith in a decentralized world that values openness, equality, and freedom`
2. `Connecting the Unconnected Reconstructing a trusty social network

[2018-03-29 08:28] mixmix commented on #124
@ticktackim I find your attention to what we value something I really respect. I think a challenge is that there are lots of English speaking companies who have nice sayings or company slogans, but they don't really mean them. That means that if a person doesn't know you, they will likely read this as just another company lying (this is a sad state for the world to be in).

So I think this opening

[2018-03-29 09:52] ticktackim commented on #124
@mixmix I plan to replace the first sentence as it seems too big word for users. But your suggestion is quite good. Let's see how the community will revert to you.

[2018-04-01 21:55] mixmix commented on #126
done , will be fixed in next release

[2018-04-01 21:55] #126 closed

[2018-04-01 22:11] mixmix opened #127 "electron needs update (vulnerability)"
--

[2018-04-01 22:27] mixmix commented on #119
![selection_558](https://user-images.githubusercontent.com/2665886/38178144-5d23f4be-3660-11e8-9218-f40d054fbb16.jpg)

here's the sort of notifications Medium have. I was expecting some state page like this with the design @ticktackim

[2018-04-01 22:57] soapdog commented on #119
@ticktackim hey Marco, I've seen the UI design you shared with us and I just want to clarify that what I have always thought about a notifications/stats page is something similar to the analytics displayed above where the user can, at a glance, have an understanding of the "big picture" of his social network outreach and impact.

I think this is the kind of thing I would prefer that we implement i

[2018-04-01 23:00] soapdog commented on #125
@ticktackim I was talking with @mixmix about this issue and something crossed our mind which is with the workflow mentioned above, the user will only see content of people and channels they subscribed to in their dynamics page making it a lot more difficult for them to find new content.

I think we need to think about:

* how to make it easier for the user to see the content they are subscribed to

[2018-04-02 02:36] ticktackim commented on #119
@mixmix @soapdog  Yeah, if you agree above is not complicated to implement, I will have designer improved the ui like that. But one more thing is we still need to put an entrance to let the author reply to the comments on this page, correct? At this moment, the author needs to click to the subject blogs in order to reply to a specific comment. This is a hassle.

[2018-04-02 02:47] ticktackim commented on #125
@mixmix @soapdog This workflow is implemented on the dynamics page. so users can read this kind of active selected contents when they open dApp. If users want to search new content, they could go to the `search` page to find it, this page will show contents based on the latest which is a kind of passive selected to users. Or they could go to notifications section to search on the channels from fri

[2018-04-04 16:06] ticktackim commented on #119
![default](https://user-images.githubusercontent.com/30351648/38319461-640b3566-3864-11e8-9ebd-a8c37e89735e.png)

@mixmix @soapdog  Hey guys, please see above improve ui designs for the notification page. The UX process will be `click the notification icon` => `prompt up the floating window` => `click the Stats` => `prompt to the stats page`.  `Stats Page` is completely based on Medium alike. User

[2018-04-05 01:33] mixmix commented on #124
Posted this up on scuttlebutt `%8HLT/Sq9e9SZoIdO9taB2EgiY6L4N2M1IsqpYUzsgtE=.sha256`

[2018-04-05 01:38] mixmix commented on #117
@ticktackim raised the question :

@soapdog when you get to this ticket can you have a look into this and quickly decide if this is part of this issue or another one? thanks !

[2018-04-06 03:57] mixmix commented on #120
https://github.com/ticktackim/ticktack-workplan/pull/99

[2018-04-09 22:41] mixmix commented on #119
hey @ticktackim we talked about this on our call just now. Page 2 (the graphs) looks clear.
Page 3 + , we want to recommend that we just use the blog show page ... as in each blog already has this comments section built underneath.

For page 1, this looks good. Making a good dropdown menu like that will take some care. I think I'd also like to make a feature where in the Settings page you can modi

[2018-04-09 22:42] mixmix commented on #119
I'm going to start on Page 2 this week

[2018-04-10 02:51] ticktackim commented on #119
@mixmix Yeah, your suggestion for the setting page is awesome.

发自我的 iPhone

[2018-04-10 22:08] #82 closed

[2018-04-10 23:57] mixmix commented on #124
I've merged a change which shows a range of different values that were expressed by the community. It choses one at random on startup from :
   1. A social network that values openness, equality, and freedom.
   2. A new social network for people seeking an equitable world that values the value people create and successfully balances freedom, solidarity, privacy, and openness.
   3. Let's do it ri

[2018-04-11 22:13] mixmix opened #130 "Stats Page"
This is one part of the [Notifications Stats Epic](https://github.com/ticktackim/ticktack-workplan/issues/119)

![image](https://user-images.githubusercontent.com/2665886/38645925-f51035e0-3e39-11e8-918a-38d3ed9829df.png)

[2018-04-11 22:14] mixmix opened #131 "Notification hanger"
This is one part of the [Notifications Stats Epic](https://github.com/ticktackim/ticktack-workplan/issues/119)

![image](https://user-images.githubusercontent.com/2665886/38646020-6d0f3bea-3e3a-11e8-84c0-81fb1db7d89e.png)

[2018-04-11 22:16] mixmix commented on #119
Note this is a large job - I've split this out into two issues so they're more _bite sized pieces_
#130 #131

[2018-04-11 22:17] mixmix commented on #130
here's medium's stats page for reference :

![](https://user-images.githubusercontent.com/2665886/38178144-5d23f4be-3660-11e8-9218-f40d054fbb16.jpg)

[2018-04-14 03:09] ticktackim commented on #124
@mixmix That's awesome. #2 and #3 are both good. And #2 seems better to express our community values. But why I didn't see these threads on my ticktack client?

For the slogan, I'd like to stick to "Connecting to the unconnected, Rebuilding a trusty social network". Since slogan will point the direction of where we are heading to, it needs to be broad and utmost. Defining just as a blogging platfo

[2018-04-16 03:15] soapdog commented on #115
I think I finally understand enough of it to upgrade our servers in a safe manner. I went to upgrade them today and got stuck due to the lack of access. I've pinged @mixmix and others who might have access to help today.

[2018-04-16 04:10] soapdog commented on #116
This is no longer blocked

[2018-04-16 04:10] soapdog commented on #115
I now have access to the servers.

[2018-04-16 17:00] soapdog commented on #115
Making backup for the current `.ssb` folder.

[2018-04-16 17:08] soapdog commented on #115
Installed docker-ce onto our **Ticktack2** pub server. Preparing for upgrade. Will need to stop current sbot process to do the upgrade.

[2018-04-16 19:01] soapdog commented on #115
Pub server is running already. I am installing the `ssb-viewer`. Unfortunately, this requires some extra steps such as:

* installing `ssb-npm-registry` so that we have access to `git-ssb`
* installing `git-ssb`
* finally installing `ssb-viewer`

[2018-04-16 19:35] soapdog commented on #115
Facing some problems installing the viewer. It complains about the address not being available for the viewer. I believe this might be due to the server not having a domain name. Maybe the `ssb-viewer` wants a domain.

[2018-04-17 18:35] soapdog commented on #116
Got it to run as a standalone viewer. It depends on `ssb-about` but this is not documented. It works now but the server is not starting the plugin automatically. It needs to have a `serveHTTP()` call executed but apparently `sbot` is executing `init()` but not `serveHTTP()`.

[2018-04-17 19:11] soapdog commented on #116
**IT WORKS**

http://138.68.27.255:8807/%RTXvyZ2fZWwTyWdlk0lYGk5sKw5Irj+Wk4QwxyOVG5g=.sha256

It requires some patching to the current ssb-viewer code. I've changed the code there inside `node_modules` (I know, quite ugly), I will monitor this carefully and if it is stable, I will submit it upstream.

[2018-04-18 02:55] ticktackim commented on #116
@soapdog Do you think it will break some security in this way? Dominic is going to improve current channels/groups becoming a hash DAG. I think we may still need to figure out a way to point to a hash later then.

原始邮件
发件人:Andre Alves Garzianotifications@github.com
收件人:ticktackim/ticktack-workplanticktack-workplan@noreply.github.com
抄送:Subscribedsubscribed@noreply.github.com
发送时间:2018年4月18日(周三) 03

[2018-04-22 04:31] #123 closed

[2018-04-23 15:15] soapdog opened #133 "ticktack breaks if broken private messages are present on feed"
I can't currently use ticktack on my machine because it refuses to load any blog post. There is an error early in the boot process that causes messages not load blobs. It can be seen below:

![ticktack 2018-04-23 12 13 26](https://user-images.githubusercontent.com/23247/39135700-edb8101a-46ef-11e8-86d3-61df3270983c.png)

I've spent half of the day trying to isolate this and I believe it is due to

[2018-04-23 16:20] #133 closed, assigned to soapdog

[2018-04-23 16:26] soapdog commented on #133
I've patched it in this branch https://github.com/ticktackim/ticktack-workplan/tree/fix-broken-message-in-feed

@mixmix this might be good for merge and later I can try patching patchcore or wherever that API is coming from. At least, with this code, broken messages will not prevent ticktack from running.

[2018-04-23 17:59] soapdog commented on #117
# Internal Share (aka reblog/retweet)

I'm implementing this first because it is easier. I've just added a "retweet" button next to like. Clicking it causes a `share` message to be written to the feed. Right now, I don't have the UI for "quoted retweet", I am doing this afterwards. I do need some icon work. I tried making the icon show with transparency when you haven't retweeted that but it doesn

[2018-04-23 18:16] soapdog commented on #117
Working on external sharing now...

[2018-04-23 22:25] soapdog commented on #117
I've also added a lightbox for sharing internally.

![ticktack 2018-04-23 19 24 36](https://user-images.githubusercontent.com/23247/39156319-fdad0d68-472b-11e8-82fe-e214ff270618.png)
_Example of internal reblog with caption entry_

[2018-04-24 08:55] ticktackim commented on #117
@soapdog Awesome. Andre, please check the link I send to you guys in Ticktack for the original UI files. There is already the `share` icon design in it.

原始邮件
发件人:Andre Alves Garzianotifications@github.com
收件人:ticktackim/ticktack-workplanticktack-workplan@noreply.github.com
抄送:TickTackmc@ticktack.im; Mentionmention@noreply.github.com
发送时间:2018年4月24日(周二) 06:25
主题:Re: [ticktackim/ticktack-workplan]

[2018-04-24 19:31] soapdog commented on #115
migrating second pub

[2018-04-24 19:44] soapdog commented on #115
Just a note that there was no tmux session on `share1.ticktack.im` and no nodejs process running. For all that I see there is no pub-server currently running on it.

[2018-04-24 20:32] soapdog commented on #115
Upgraded and running! Viewer is working as well.

[2018-04-24 20:35] soapdog commented on #116
Upgraded the second server and added the viewer as well.

[2018-04-24 20:42] soapdog commented on #117
This is done pending code review (and little patches)

[2018-04-24 21:21] mixmix opened #135 "Update ticktack Scuttlebot versin"
want EBT, but need to check about unpinning some muxrpc etc and upgrading to 11 ?

[2018-04-24 21:35] mixmix opened #136 "Blog + Long Posts"
add a setting to the settings page which toggles the display of "Long posts"

places this is relevant:
- [ ] Dynamics page (main blogs index/  home page)
- [ ] search page (channels)
- [ ] user profile
- [ ] stats page

[2018-04-26 23:45] mixmix commented on #125
Note with new stats we'll be able to update the cards too with the comments / likes / shares !

![selection_586](https://user-images.githubusercontent.com/2665886/39337328-77848f58-4a10-11e8-9de3-623ac88f7b99.jpg)

[2018-04-27 00:10] mixmix commented on #123
hey @ticktackim I can no longer see the designs in this thread - I wanted to check something for the notifications, can you attach it to this thread again please (I'm getting an error about not having access priveledges to the link above)

[2018-04-27 00:34] mixmix commented on #131
@ticktackim  I've made the beautiful graph, Andre is reviewing it. It was the bulk of the work because it involved sorting large amounts of data.

I'm now starting into this. What I've realised is that this dropdown is going to be a problem:
- too many likes and comments will make it really really full and intense
- there's no place for the author to easily click to reply

I want to make the defau

[2018-04-27 00:35] mixmix commented on #131
I'm going to start building this and we can see how it feels. The data underneath is similar, so if it's no good we can change it.

cc @soapdog

[2018-04-27 02:14] ticktackim commented on #123
@mixmix @soapdog  Please check below updated links for the ui designs for Sprint 4.

https://storage.cloud.google.com/ticktack_ui/Ticktack-4.png?_ga=2.144695541.-1368366881.1524795069

https://storage.cloud.google.com/ticktack_ui/ticktack%20ui_%20ver4.13.sketch?_ga=2.248832583.-1368366881.1524795069

[2018-04-27 05:44] ticktackim commented on #125
@soapdog Yes, I agree with what you proposed as below. The users could look for new contents at least in these two ways: 1, click on the `search` page, they can read the new contents displaying in time hash order. 2, they could click on the `friends’ subscription` to look for what is interesting from their friends’ circle.

I emphasize that the dynamics page is showing what I mentioned above is be

[2018-04-27 06:56] ticktackim commented on #131
@mixmix No problem. Let’s go and see.

发自我的 iPhone

[2018-05-01 00:43] soapdog commented on #131
@mixmix and @ticktackim I think that making stats the default view for 🔔 is a good idea. I suspect that the dropdown (doorhanger) might be less usefull as more data comes in. I will wait for @mixmix judgement on how he wants to proceed on it. For me, the stats page alone is already useful and beautiful

[2018-05-01 14:32] #107 closed

[2018-05-01 14:39] soapdog commented on #122
@mixmix

### Retrieving the latest sequence for a user

I've been working on our need to find _the latest sequence_ for a given user stored on our pub servers. That got me deep inside the bowels of the scuttlebot replication plugin and muxrpc (which are both a bit beyond my current understanding). While I pondered how to go forward, I had an idea which would greatly simplify this but I wanted to c

[2018-05-01 15:11] soapdog commented on #112
Worked on [/docs/structure.md](https://github.com/ticktackim/ticktack-workplan/blob/documentation/docs/structure.md)

[2018-05-01 15:15] soapdog commented on #113
Switching this task to document the **stack** used instead of the **dependencies** as it is more what I had in mind when I proposed it.

[2018-05-01 15:35] soapdog commented on #113
Added to [/docs/stack.md](https://github.com/ticktackim/ticktack-workplan/blob/documentation/docs/stack.md)

[2018-05-01 15:35] ticktackim commented on #122
@soapdog @mixmix Do you think we need consult with @dominic for this issue?

发自我的 iPhone

[2018-05-01 15:56] soapdog commented on #114
Minimal information about the kickstart of the application at [/docs/kickstart.md](https://github.com/ticktackim/ticktack-workplan/blob/master/docs/kickstart.md).

[2018-05-01 17:47] mixmix commented on #122
hey @soapdog exposing a url could work ok as a first pass. Make it open on both pub servers for redundency...
Also, so long as you write your code modular, we can swap in how that sequence is found at a later date.
if you're modifying the pubs to do this that's fine as long as it's doesn't take more than 3 hours (made up number)? if it's going to take longer I think geting the sequence from the bo

[2018-05-01 19:33] soapdog commented on #122
@mixmix it might be good to get input from @dominictarr, maybe he can do this in a ssb way which is better than my web way. I am not married to my solution here, it is just the solution I think I can implement because I don't think I know how to implement it from ssb gossipy side.

[2018-05-02 01:48] mixmix commented on #135
started a new branch `bleeding-edge`

adds `ssb-ebt`

[2018-05-02 07:37] ticktackim commented on #113
@soapdog That’s awesome!

原始邮件
发件人:Andre Alves Garzianotifications@github.com
收件人:ticktackim/ticktack-workplanticktack-workplan@noreply.github.com
抄送:Subscribedsubscribed@noreply.github.com
发送时间:2018年5月1日(周二) 23:35
主题:Re: [ticktackim/ticktack-workplan] Document stack (#113)

Added to /docs/stack.md
—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, vi

[2018-05-07 07:07] mixmix opened #137 "Update private message scrollers"
I implemented a performace change to make the notifications comment scroller.
When I have time, I should do the same thing for Private messages.

[2018-05-13 18:53] soapdog commented on #122
Export is now working with the following items being added to the export file (which is in JSON format):

* The date of the export.
* The latest sequence at that time
* The peers (from gossip.json)
* The secret (from secret file)

At the moment I am not encrypting the export with a password. A good strategy is to make it all work and then add the password routines. Makes it easier to debug.

[2018-05-15 15:08] nabijaczleweli opened #141 "Typo in repo description"
Current:
[code]

Correct:
[code]

And given how the spacing is laid out, you might also wanna slap a colon on there, but…

[2018-05-20 19:26] soapdog commented on #122
I've finally got the import feature working. The code is messy right now, I am cleaning it up and pushing it. I know of some race conditions that need to be solved before we push this to the public such as "making sure that if the user closes the app in the middle of the initial sync, that the process resumes when launched again".

As a little teaser, I have it recorded at [this vimeo video](https

[2018-05-30 00:04] #110 closed

[2018-05-30 00:04] #130 closed

[2018-05-30 00:07] mixmix commented on #125
we've listed organised by blogs by timestamp

[2018-05-30 00:11] mixmix commented on #125
We're going to make a small filter at the top of the page which says  :

[2018-06-04 01:01] mixmix opened #153 "Add ability to write in raw Markdown"
Richard Bartlett has a workflow which uses raw markdown. He's keen to have access the the legacy editor.

This is possible, but need to be done carefully.

[2018-06-04 01:04] mixmix opened #154 "Debug why Rabble's long blogpost errored"
Here's what that failed blogpost looks like :

[code]

That attached blob seems not to be accessible. It's also odd that there are no images mentioned.

[2018-06-04 01:16] mixmix commented on #154
I've looked at the posts that Rabble ended up making and they're quite large, so that e.g. the image mentions alone take up at least 5kb!
But that seems like an unlikely cause of this as a partial message has got into the system alright.

**FURTHER ISSUE** you can't comment on that broken blog in Ticktack - it goes looking for comments and throws an error trying to build the reply I think

[2018-06-04 01:16] mixmix opened #155 "Remove blocked peers from the contacts sidebar"

[2018-06-04 01:16] mixmix commented on #135
DONE

[2018-06-04 01:17] #135 closed

[2018-06-04 01:17] #105 closed

[2018-06-04 01:17] #111 closed

[2018-06-04 01:17] #114 closed

[2018-06-04 01:17] #115 closed

[2018-06-04 01:17] #116 closed

[2018-06-04 01:17] #117 closed

[2018-06-04 01:17] #118 closed

[2018-06-04 01:17] #119 closed

[2018-06-04 01:17] #120 closed

[2018-06-04 01:17] #121 closed

[2018-06-04 01:17] #122 closed

[2018-06-04 01:17] #124 closed

[2018-06-04 01:17] #125 closed

[2018-06-04 01:17] #127 closed

[2018-06-04 01:17] #131 closed

[2018-06-04 01:18] #60 closed

[2018-06-04 01:50] ticktackim opened #156 "Blogs in `search` section displaying repeatedly"

[2018-06-04 02:31] masukomi opened #157 "text is cut off in splash screen"
v0.4.0
see attached image:

![](https://user-images.githubusercontent.com/2829/40895489-db66cfb0-677d-11e8-9ebf-2fde05c989b6.png)

[2018-06-04 02:37] masukomi opened #158 "stats page cuts off left or right side unless full screen"
either it cuts off the right side or the left side unless you make the window. I feel like there's nothing about this design that wouldn't be achievable with responsive css

![ticktack](https://user-images.githubusercontent.com/2829/40895637-985fbcee-677e-11e8-8d4d-42d01517663f.png)

[2018-06-04 02:40] ticktackim commented on #158
@masukomi I think it is because you Zoom + a bit more. Would you please adjust the Zoom -+ on the setting page to try it again?

[2018-06-04 05:10] mixmix opened #159 "Switching btwn Patchwork + Ticktack is slow"
masukomi said :

---

yes [@masukomi](@LzTjF5eAVC6xprPMGeNzqEP/EEBIGpM6hDaaY10hrz8=.ed25519)

Basically scuttlebutt has an issue where running different versions of plugins results in scuttlebot re-indexing when you shift btwn apps.

We know about this, and I've opened this already to resolve it https://github.com/ssbc/patchwork/pull/812

If you'd like to help that get merged, you can pull that br

[2018-06-04 10:06] Widdershin opened #160 "v0.4.0 First impressions"
Hiya!

Congratulations on your v0.4.0 beta release.

Thought I would download it and have a poke around.

Here are some relatively raw first impressions for you:

After opening Tick Tack, I was greeted with the new user page. I was quite nervous about this page after my previous adventure of accidentally forking my feed with Patchwork, so I cancelled out of it.

I was then keen to poke around and

[2018-06-04 10:10] Widdershin opened #161 "Feature Request: double click title bar to maximise"
Hiya,

On MacOS, it's a platform UX standard that double clicking the title bar of an application makes it maximise if it's a small window, or to become a small window if maximised.

It would be great if Tick Tack could do this.

😸

[2018-06-04 10:13] Widdershin commented on #161
Did some googling and this is an electron issue, disregard.

[2018-06-04 10:13] #161 closed

[2018-06-04 10:14] Widdershin opened #162 "Back button should always be visible"
Hiya!

When reading a blog post, there is a UX papercut where in order to go back to where I was, I have to scroll up to the top of the blog post to access the back button.

Perhaps the back button could go at the top left of the nav bar?

[2018-06-06 03:03] ticktackim commented on #160
Thanks for your comments. We will keep polishing it.

原始邮件
发件人:Nick Johnstonenotifications@github.com
收件人:ticktackim/ticktack-workplanticktack-workplan@noreply.github.com
抄送:Subscribedsubscribed@noreply.github.com
发送时间:2018年6月4日(周一) 18:06
主题:[ticktackim/ticktack-workplan] v0.4.0 First impressions (#160)

Hiya!
Congratulations on your v0.4.0 beta release.
Thought I would download it and have a poke

[2018-06-08 04:44] ticktackim opened #163 "The filter feature seems doesn't work well."
The filter feature seems doesn't work well.

1. The post of people I followed showing up on section `Search` but not on `Dynamics Friends`.
2. The section `Subscriptions` didn't show the latest updated post replication.

[2018-06-08 23:36] mixmix commented on #137
this is possible now that pull-merge has been updated.
merge in branch `faster_pms`

[2018-06-08 23:36] #112 closed

[2018-06-08 23:36] #113 closed

[2018-06-08 23:37] mixmix commented on #89
scuttle-blog exists and is in use in Patchbay + Patchwork

[2018-06-08 23:37] #89 closed

[2018-06-08 23:39] mixmix commented on #141
thanks for this. We've update the docs!

[2018-06-08 23:39] #141 closed

[2018-06-08 23:40] mixmix commented on #156
I've done some work on a module called `pull-next-query` which I hope should help fix this!

[2018-06-08 23:42] mixmix commented on #157
nice catch, thanks

[2018-06-08 23:46] mixmix commented on #158
we can have a quick look at how this is styled and what's not causing it to shrink some.
Once challenge is that I often want to set a `min-width` for things while they're loading so that the page doesn't magically change size as content comes in - this is really jarring.

I think we could set something like `min-width: 70vw` (70% of the view window) or `calc(100vw - 4rem)` or whatever that sidebar

[2018-06-08 23:49] mixmix commented on #162
I'd have to see a design. I think the current design would need changing a bit for that to not look crap.

What I think would be good (which phones do) is when you start scrolling up, to make that top bar visible (intuiting the user's intention to want that nav bar).
This is probably fidely to implement (listening to debounced / throttled scroll events) but is the best thing I could think of

[2018-06-08 23:57] mixmix commented on #160
hey @Widdershin the "sync'ing"  issue is actually an indexing issue. This is being tracked + worked on over here : https://github.com/ticktackim/ticktack-workplan/issues/159

---

This part I'm more interested in. What did you see what you first opened Ticktack? I'm assuming you were opening it on a computer you had an ssb account on already (by using Patchwork). The paths in which are possible ar

[2018-06-09 00:03] mixmix commented on #136
Current behaviour:
- [ ] Dynamics page (main blogs index/  home page)
  - shows only `blog` type messages
- [ ] search page (channels)
  - shows `blog` and long post
- [ ] user profile
  - shows `blog` and long post
- [ ] stats page
  - shows `blog` and long post

[2018-06-09 00:12] mixmix commented on #163
1. hey @ticktackim the different results in different places is related to this issue https://github.com/ticktackim/ticktack-workplan/issues/136
The main Dynamics page only shows `blog` type messages. These are blogs written in Ticktack. The other places currently allow "`post` type messages longer than 2500 characters" to be shown as well. Please discuss this topic on https://github.com/ticktacki

[2018-06-09 00:16] mixmix commented on #136
This has been a longer conversation. The agreement to display things like this was made in this previous issue:
https://github.com/ticktackim/ticktack-workplan/issues/74#issuecomment-365826751

[2018-06-09 00:16] #74 closed

[2018-06-09 00:17] #8 closed

[2018-06-09 00:17] #37 closed

[2018-06-09 00:17] #71 closed

[2018-06-09 00:17] mixmix commented on #109
@dominictarr I'm closing this for the moment (no reported problems recently)

[2018-06-09 00:17] #109 closed

[2018-06-09 05:57] ticktackim commented on #136
@mixmix  so what is the exact criteria of the `blog` type? Is the one users using Ticktack to publish message content larger than 2500 characters?

[2018-06-09 06:02] ticktackim commented on #136
@mixmix  oh, I understand the `blog` type is only fit for Ticktack. Users who write a blog in Ticktack will show as `blog` type no matter what is the size of message, correct?

[2018-06-09 06:10] ticktackim commented on #163
@mixmix Now I understand the `filter` is only for `blog` type, correct? So I reckon there is no user writing `blog` within this month in Ticktack for the channel I subscribed, am I right?
![2018-06-09 2 05 45](https://user-images.githubusercontent.com/30351648/41188357-90a7443a-6bee-11e8-92ce-37e5179ea620.png)

[2018-06-09 18:29] mixmix commented on #163
Correct. You child test this by subscribing to a channel of something more
recent in the All fikter.

I think the app should show the same content everywhere. Or if we show post
type messages that we should label then as not blogs...
Do you think we should add post type messages to the Dynamics page (or make
this an option?)

On Sat, 9 Jun 2018, 18:10 TickTack, <notifications@github.com> wrote:

[2018-06-09 18:38] mixmix commented on #136
Messafe type is a low level scuttlebutt thing. Like is another type,
subscribe is another type.
By default ticktack uses :
- blog type for all publications (this allows long form writing)
- post type (encrypted) for private messages
- post type for comments on a blog

We use post type because the other clients already use this so it's
compatible to send messages and anyone in any client to read th

[2018-06-10 04:40] ticktackim commented on #163
![2018-06-10 12 24 40](https://user-images.githubusercontent.com/30351648/41198305-4ec73622-6ca9-11e8-813f-644d0e2e5a98.png)

@mixmix  I subscribed to the channel that Ted posted recently. But it is still not shown in the `Dynamics Subscriptions` section even after I restart Ticktack. Is it because I should subscribe to it before the post has been published?

[2018-06-10 04:47] ticktackim commented on #136
@mixmix  Yes, I think adding `post` type message larger than 2.5kb (is it a 5min read time standard?) to Ticktack is a good try. We could tune the `filter` feature based on enough good content then.

[2018-06-12 08:17] Widdershin commented on #160
Yeah I think you're right that I was on 2., couldn't see my image but it had actually loaded my name. Just wasn't sure if it was derived my from system account. In any case the next time I returned to it my image had loaded so I felt like it was okay.

[2018-06-13 00:04] mixmix commented on #163
that could be a legitamite bug, thanks for giving a really specific case, makes it easy to check

[2018-06-27 03:28] mixmix commented on #163
I think I've fixed all the filters.
 This particular post doesn't show up because it's less that 2500 characters long - i.e. it's too short to be displayed as a "blog"

I'm marking this as done as I'm fairly sure I've fixed this.
We can open it again if I missed anything

[2018-06-27 03:28] #163 closed

[2018-06-27 03:41] mixmix commented on #159
there's a PR which has been merged in Patchwork which will fix this when a new release of Patchwork is released!

I'll pull the latest master down and confirm that
:white_check_mark: ALL GOOD!

[2018-06-27 03:41] #159 closed

[2018-06-27 03:47] mixmix commented on #158
@masukomi I've looked into this. It is responsive, but the canvas (what the graph is made with) sets it's size when this page is loaded.

If you have a smalled browser window and then go to this page it's fine:

![image](https://user-images.githubusercontent.com/2665886/41951861-2a3b6c08-7a21-11e8-922f-7061137345f1.png)

The minimum width form the app window that works with this design is 865px.

[2018-06-27 03:47] #158 closed

[2018-06-27 03:53] mixmix commented on #157
fixed

[2018-06-27 03:53] #157 closed

[2018-06-27 03:53] mixmix commented on #156
fixed in 0.4.1 release

[2018-06-27 03:53] #156 closed

[2018-06-27 03:54] mixmix commented on #153
DONE (as a first pass)

[2018-06-27 03:54] #153 closed

[2018-06-27 03:56] mixmix commented on #136
All places now take into account long `post` type messages (2500 characters):

Page | shows `blog` tpye | shows long `post` type
---|---|---
Dynamics (main blogs index/  home page) | :white_check_mark: | :white_check_mark:
Search (channels) | :white_check_mark: | :white_check_mark:
User profile | :white_check_mark: | :white_check_mark:
Sats | :white_check_mark: | :white_check_mark:

---

I don't k

[2018-06-27 03:56] #136 closed

[2018-07-03 19:58] masukomi commented on #158
sorry about the delay....

no. that's probably the right call. the amount of work required to make this work as desired just isn't worth the payoff... at least not at this point in time. switching to a non-canvas based graph package (either SVG or CSS) would probably address it but, again not worth prioritizing at the moment.

[2018-07-14 02:11] ticktackim opened #166 "'Rich' Editor missing the preview and publish button on blog-editor page."

[2018-07-14 02:50] ticktackim opened #167 "Ver0.4.1, missing 'public message' on the personnel page."
@mixmix I just realize that on the personnel page, the public message is filtered not showing up. I prefer we don't implement the 'filter' mechanism on the personnel page so users could see the whole public feeds of their own.

[2018-07-17 22:32] mixmix commented on #167
will do this for the next release

[2019-07-23 08:21] LWFlouisa opened #169 "Save button not working,"
I can't even save my profile information.

[2020-01-12 05:02] LWFlouisa opened #170 "TickTack Freezes, Doesn' Allow Copy Paste"
Whenever I load TickTack 0.4.2, my entire computer literally freezes, and I can't even do a soft restart. When it manages to not be frozen, I can't even copy paste a blogpost from a file on my computer into the main word processor.

What is the reason for this? There is no valid security reason, copy-paste works fine in Patchwork and other portion of Secure Scuttlebutt.

This is on Linux Mint 19.1

[2020-02-02 04:33] ticktackim commented on #170
Sorry for the late response. This could be the bug from electron when you copy paste big content.

 原始邮件
发件人: Sarah Weaver<notifications@github.com>
收件人: ticktackim/ticktack-workplan<ticktack-workplan@noreply.github.com>
抄送: Subscribed<subscribed@noreply.github.com>
发送时间: 2020年1月12日(周日) 12:02
主题: [ticktackim/ticktack-workplan] TickTack Freezes, Doesn' Allow CopyPaste (#170)

Whenever I load TickTa